<!Doctype html>
{% load static %}
<html>
<head>
	<meta charset='utf8'>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'kanban_board/third_party/bootstrap/css/bootstrap.min.css' %}"/>
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 table-responsive">
				<table class="table table-bordered">
					<thead class="thead-light">
						<tr>
							{% for one_status in status %}
								<th>{{ one_status.status.name }}</th>
							{% endfor %}
						</tr>
						
					</thead>
					<tbody>
						<tr>
							{% for tasks in tasks_list %}
								<td class="px-5">
									{% for one_task in tasks %}
										<div class="card my-4 mx-auto">
											<div class="card-header" data-toggle="collapse" data-target="#task_body_{{ one_task.pk }}"
												style="cursor:pointer; user-select:none">
												<h5 class="card-title">{{ one_task.name }}</h5>
												<h6 class="card-subtitle text-muted" >{{ one_task.ref_code }}</h6>
											</div>
											<div class="card-body collapse show" id="task_body_{{ one_task.pk }}">
												<p class="card-text">{{ one_task.description }}</p>
												<p class="card-text">
													{% if one_task.super_task__name %}
														Super Task: {{ one_task.super_task__name }} <br/>
													{% endif %}
													{% if one_task.degree %}
														Degree: {{ one_task.degree }} <br/>
													{% endif %}
													{% if one_task.priority %}
														Priority: {{ one_task.priority }} <br/>
													{% endif %}
													{% if one_task.taskstatus__taken_by__username %}
														Taken By: {{ one_task.taskstatus__taken_by__username }} <br/>
													{% endif %}
												</p>
												
												<div class="comments" style="margin: auto -1.25rem -1.25rem">
													<h4 class="card-text alert-dark mb-0 px-1" data-toggle="collapse" 
														data-target="#task_comments_{{ one_task.pk }}" 
														style="cursor:pointer; user-select:none;">Comments</h4>
													<div class="card-text collapse show" id="task_comments_{{ one_task.pk }}">
														{% for com in one_task.comments %}
															<div class="alert alert-dark pb-0 mb-0">
																<div class="aleart-heading pre">{{ com.comment }}</div>
																<div class="mt-4 bg-light"> commenter: {{ com.commenter.username }}</div>
															</div>
														{% endfor %}
														<div class="alert alert-dark pb-0 mb-0">
															<form class="add_comment"  method="post"
																action="{% url 'django_kanban_board:add_comment' %}">
																{% csrf_token %}
																<input type="hidden" name="prev_url"/>
																<input type="hidden" name="task" value="{{ one_task.pk }}" />
																<label class="sr-only" for="new_comment_{{ one_task.pk }}">Comment Text</label>
																<textarea id="new_comment_{{ one_task.pk }}" name="comment" class="form-control"
																	required="required" placeholder="Add Comment" style="width:100%;min-height: 100px;"></textarea>
																<button class="btn btn-block btn-dark">ADD Comment</button>
															</form>
														</div>
													</div>
												</div>
											</div>
											<div class="card-footer">
												Transfered On: {{ one_task.taskstatus__transfered_on }}
											</div>
										</div>
									{% endfor %}
								</td>
							{% endfor %}
						</tr>
						
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script src="{% static 'kanban_board/third_party/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'kanban_board/third_party/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script>
		let comment_forms = document.querySelectorAll(".add_comment")
		if (comment_forms){
			for (let i = 0; i < comment_forms.length; ++i){
				comment_forms[i].elements[1].value = document.location.pathname
			}
		}
	</script>
</body>
</html>